<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521/orcl</property>
        <property name="connection.username">vip</property>
        <property name="connection.password">vip</property>
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>

        <!--<property name="hbm2ddl.auto">create</property>-->

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="com.nf.hibernate.strategy.entity.Company" />
        <mapping class="com.nf.hibernate.strategy.entity.Author" />
        <mapping class="com.nf.hibernate.strategy.entity.Book" />
        <mapping class="com.nf.hibernate.strategy.entity.Game" />
        <mapping class="com.nf.hibernate.strategy.entity.Chapter" />

    </session-factory>
</hibernate-configuration>